@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #632ee3;
  --color-secondary: #9f62f2;
}
.btn-primary {
  @apply text-white border-0 bg-gradient-to-r from-primary to-secondary;
}
.text-gradient-primary {
  @apply bg-gradient-to-r from-primary to-secondary text-transparent bg-clip-text;
}
